<br>
<h2>
    Asignación de Auxiliares
</h2>
&nbsp;&nbsp;
<a routerLink="../../admin" class="btn btn-primary">Regresar</a>
<br>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Mail</th>
            <th scope="col">Carnet</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auxiliar of auxiliares">

            <td>{{auxiliar.aux_nombre}}</td>
            <td>{{auxiliar.aux_apellido}}</td>
            <td>{{auxiliar.aux_email}}</td>
            <td>{{auxiliar.id_auxiliar}}</td>
            <td>
                <!-- DETALLE DE COSAS-->
                    <a [routerLink]="['detalle', auxiliar.id_auxiliar]" class="btn btn-outline-info">
                            <i class="fas fa-eye"></i>
                    </a>
                &nbsp;&nbsp;
                <!-- ASIGNAR-->
                <a [routerLink]="['asignar', auxiliar.id_auxiliar]" class="btn btn-outline-info">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                &nbsp;&nbsp;
                <!-- DESASIGNAR-->
                <a [routerLink]="['desasignar', auxiliar.id_auxiliar]" class="btn btn-outline-info">
                    <i class="fas fa-pencil-alt"></i>
                </a>

            </td>
        </tr>
    </tbody>
</table>
