<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</ion-header>

<ion-content>

  <!-- aqui va el codigo que quiero en mi página-->
  <br><br>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input name="n_carnet" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input name="n_password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <a routerLink="/no-password" color="tertiary">¿Olvidaste tu contraseña? :c</a>

  <br><br>
  <br>

  <ion-item>
      <ion-label>Tipo de Cuenta</ion-label>    

      <ion-select class="form-control" [(ngModel)]="selectedLevel"  [compareWith]="compareFn">
          <ion-select-option *ngFor="let item of users" [value]="item">{{item.first}}</ion-select-option>
      </ion-select>
    </ion-item>

  <!--<ion-item>
    <ion-select #newSelect [(ngModel)]="carbrand" (change)="onChange(carbrand)">
        <ion-select-option value="Porsche" checked="true">Porsche</ion-select-option>
        <ion-select-option value="Mercedes" >Mercedes</ion-select-option>
        <ion-select-option value="Buggati">Buggati</ion-select-option>
        <ion-select-option value="Lamborghini">Lamborghini</ion-select-option>
        <ion-select-option value="Domster">Domster</ion-select-option>
      </ion-select>

    <ion-select placeholder="Selecciona Uno" #newSelect [(ngModel)]="carbrand" (change)="onChange(carbrand)">
       <ion-select-option *ngFor="let user of users" >{{user.first}}</ion-select-option>
      <ion-select-option value="stud">Estudiante</ion-select-option>
        <ion-select-option value="aux">Auxiliar</ion-select-option>
        <ion-select-option value="admin">Administrador</ion-select-option>
    </ion-select>
  </ion-item>-->

  <br><br>

  <div class="ion-text-center">
    <ion-button (click)="Ingresando()">
      Ingresar
    </ion-button>
  </div>
  <br><br>
  <a routerLink="/registro" color="tertiary">¿No tienes una cuenta? :C</a>

  <br>
</ion-content>