<br>
<br>
<h1>Auxiliar</h1>
<br>
<p class="lead">Por favor escoje a donde deseas ir</p>
<br>


<table class="table table-hover">
    <tbody>
        <tr>
             <td><a routerLink="auxiliares" class="btn btn-secondary">Foros</a></td>
            <td><a routerLink="auxiliares" class="btn btn-primary">Mensajería</a></td>
            <td><a routerLink="auxiliares" class="btn btn-secondary">Actividades</a></td>
            <td><a routerLink="auxiliares" class="btn btn-secondary">Notas</a></td>

        </tr>
        <tr>
                
                <td><a routerLink="auxiliares" class="btn btn-primary">Asistencia</a></td>
                <td><a routerLink="auxiliares" class="btn btn-secondary">Tickets</a></td>
                <td><a routerLink="auxiliares" class="btn btn-primary">Evaluaciones</a></td>
        </tr>
    </tbody>
</table>
