<br>
<br>
<h2>Mis Cursos</h2>
<br>
<a routerLink="../../admin" class="btn btn-primary">Regresar</a>
<br>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Semestre</th>
            <th scope="col">Año</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">

            <td>{{curso.id_curso}}</td>
            <td>{{curso.cur_nombre}}</td>
            <td>{{curso.cur_semestre}}</td>
            <td>{{curso.cur_year}}</td>
            <td>
                <button class="btn btn-danger" (click)="eliminando(curso.id_curso)">
                        <i class="fas fa-minus"></i>
                </button>
                
            </td>
        </tr>
    </tbody>
</table>


