<br>

<div class="text-right"><button (click)="probando()" class="btn btn-primary">Log Out</button></div>

<br><br>
<h1>Administrador de la Plataforma</h1>
<p class="lead">Por favor escoje a donde deseas ir</p>
<br>


<table class="table table-hover">
        <tbody>
            <tr>                
                <td><a routerLink="auxiliares" class="btn btn-primary">Auxiliares</a></td>
                <td><a routerLink="cursos" class="btn btn-secondary">Cursos</a></td>
            </tr>
            <tr>                
                    <td><a routerLink="secciones" class="btn btn-primary">Secciones</a></td>
                    <td> <a routerLink="auxiliares" class="btn btn-secondary">Asignaciones</a></td>
            </tr>
        </tbody>
    </table>
<br>
<br>
&nbsp;&nbsp;



               
