<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Auxiliar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="probando()">
            Salir
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <ion-text class="text-secondary">
    <p>Por favor escoje a donde deseas ir</p>
  </ion-text>

  <br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a routerLink="/aux-cursos-asignados" color="tertiary" class="btn btn-primary">Mis Cursos</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a routerLink="/registro" color="tertiary" class="btn btn-primary">Mensajes</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a routerLink="/registro" color="tertiary" class="btn btn-primary">Actividades</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a routerLink="/registro" color="tertiary" class="btn btn-primary">Notas</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a routerLink="/registro" color="tertiary" class="btn btn-primary">Asistencia</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a routerLink="/aux-crear-examen" color="tertiary" class="btn btn-primary">Exámenes</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>