<br><br>
<h1>Asignación de Cursos</h1>
<a routerLink="../../estudiante" class="btn btn-primary">Regresar</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Seccion</th>
            <th scope="col">Horario</th>
            <th scope="col">Código de Curso</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seccion of secciones">

            <td>{{seccion.id_seccion}}</td>
            <td>{{seccion.sec_nombre}}</td>
            <td>{{seccion.sec_horario}}</td>

            <td>{{seccion.id_curso}}</td>
            <td>
                <button class="btn btn-info" (click)="asignando(seccion.id_seccion)">
                    <i class="fas fa-plus"></i>
                </button>

            </td>
        </tr>
    </tbody>
</table>