<ion-header>
  <ion-toolbar>
      <ion-buttons slot = "start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Olvidaste tu contraseña :C</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br><br>
    <ion-text color="dark">
        <p>Para recuperar tu contraseña, primero inserta tu usuario</p>
      </ion-text>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input name="n_carnet" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input name="n_carnet" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <br><br>
    <ion-item>
        <ion-label>Tipo de Cuenta</ion-label>    
  
        <ion-select class="form-control" [(ngModel)]="selectedLevel"  [compareWith]="compareFn">
            <ion-select-option *ngFor="let item of users" [value]="item">{{item.first}}</ion-select-option>
        </ion-select>
      </ion-item>
<br><br>
      <div class="ion-text-center">
          <ion-button (click)="Ingresando()">
            Recupera tu contraseña!
          </ion-button>
        </div>
  
    <br><br>
</ion-content>
