<br><br>
<h2>Mis Cursos</h2>
<a routerLink="../../estudiante" class="btn btn-primary">Regresar</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID Asignación</th>
            <th scope="col"> Nombre</th>
            <th scope="col"> Horario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seccion of missecciones">

            <td>{{seccion.id_asignacion}}</td>
            <td>{{seccion.sec_nombre}}</td>
            <td>{{seccion.sec_horario}}</td>
            <td>
                <button class="btn btn-danger" (click)="eliminando(seccion.id_asignacion)">
                    <i class="far fa-trash-alt"></i>
                </button>
                &nbsp;
                &nbsp;
                <a [routerLink]="['../tickets/agregar', seccion.id_seccion]" class="btn btn-outline-info">
                    <i class="fas fa-paper-plane"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>